@import 'tailwindcss';
@import 'maplibre-gl/dist/maplibre-gl.css';

html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Inter', system-ui, -apple-system, sans-serif;
}

.maplibregl-map {
  width: 100% !important;
  height: 100% !important;
}
